/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Minecraft";
}

body {
    height: 100vh;
    width: 100%;
    color: #fff;
}

.display-none {
    display: none !important;
}

/* font import */
@font-face {
    font-family: "Minecraft";
    font-style: normal;
    font-weight: 400;
    src:
        url("/fonts/Minecraft.woff") format("woff"),
        url("/fonts/Minecraft.ttf") format("tff");
}

/* Landing Page styling */
#landing-page {
    background: url(../imgs/bg1.png) center center / cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

/* Removed for now to add later */
/* .panorama {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.panorama-img {
    height: 100%;
    width: 100%;
}

.pano-img1 {
    position: inherit;
    z-index: -1;
    left: 0;
    animation: panoMove1 20s linear infinite;
}

.pano-img2 {
    position: inherit;
    z-index: -1;
    left: -100vw;
    animation: panoMove2 20s linear infinite;
}

.pano-img3 {
    position: inherit;
    z-index: -1;
    left: -100vw;
    animation: panoMove3 20s linear infinite;
    animation-delay: 10s;
}

.pano-img4 {
    position: inherit;
    z-index: -1;
    left: -100vw;
    animation: panoMove4 20s linear infinite;
    animation-delay: 20s;
} */

.logo {
    height: 20%;
    width: 70%;
}

.start-btn {
    padding: 1rem;
    font-family: "Minecraft";
    font-size: 3rem;
    cursor: pointer;
}

/* Game Styling */
#game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.play-screen {
    height: 90vh;
    background-color: skyblue;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.cloud {
    background: white;
}

.dirt {
    background: url(../imgs/dirt-block.png) center center / cover no-repeat;
}

.grass {
    background: url(../imgs/grass-block.png) center center / cover no-repeat;
}

.log {
    background: url(../imgs/oak-log-block.png) center center / cover no-repeat;
}

.stone {
    background: url(../imgs/stone-block.png) center center / cover no-repeat;
}

.cobblestone {
    background: url(../imgs/cobblestone-block.png) center center / cover no-repeat;
}

.leaves {
    background: url(../imgs/leaves-block.png) center center / cover no-repeat;
}

/* Inventory Styling */
.inventory {
    display: flex;
    justify-content: flex-start;
}

.inventory .slot {
    height: 10vh;
    width: 10vmin;
    background: url("../imgs/inventory-slot.png") center center / cover no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 1.5rem;
    padding: 0.1rem 0.4rem;
    color: #fff;
    font-family: "Minecraft";
}

.inventory .slot.selected {
    background: url("../imgs/inventory-select.png") center center / cover no-repeat;
    height: 10vh;
    width: 10vmin;
}

.inventory .slot1 {
    background: url("../imgs/inventory-slot-pickaxe.png") center center / cover no-repeat;
}

.inventory .pickaxe.selected {
    background: url("../imgs/inventory-select-pickaxe.png") center center / cover no-repeat;
}

.inventory .slot2 {
    background: url("../imgs/inventory-slot-axe.png") center center / cover no-repeat;
}

.inventory .axe.selected {
    background: url("../imgs/inventory-select-axe.png") center center / cover no-repeat;
}

.inventory .slot3 {
    background: url("../imgs/inventory-slot-shovel.png") center center / cover no-repeat;
}

.inventory .shovel.selected {
    background: url("../imgs/inventory-select-shovel.png") center center / cover no-repeat;
}

.inventory .slot4 {
    background: url("../imgs/inventory-slot-shears.png") center center / cover no-repeat;
}

.inventory .shears.selected {
    background: url("../imgs/inventory-select-shears.png") center center / cover no-repeat;
}

.inventory .slot5 {
    background: url("../imgs/inventory-slot-dirt.png") center center / cover no-repeat;
}

.inventory .dirt.selected {
    background: url("../imgs/inventory-select-dirt.png") center center / cover no-repeat;
}

.inventory .slot6 {
    background: url("../imgs/inventory-slot-cobblestone.png") center center / cover no-repeat;
}

.inventory .cobblestone.selected {
    background: url("../imgs/inventory-select-cobblestone.png") center center / cover no-repeat;
}

.inventory .slot7 {
    background: url("../imgs/inventory-slot-log.png") center center / cover no-repeat;
}

.inventory .log.selected {
    background: url("../imgs/inventory-select-log.png") center center / cover no-repeat;
}

.inventory .slot8 {
    background: url("../imgs/inventory-slot-leaves.png") center center / cover no-repeat;
}

.inventory .leaves.selected {
    background: url("../imgs/inventory-select-leaves.png") center center / cover no-repeat;
}

