/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
}

.display-none {
    display: none !important;
}

/* font import */
@font-face {
    font-family: "Minecraft";
    font-style: normal;
    font-weight: 400;
    src:
        url("/fonts/Minecraft.woff") format("woff"),
        url("/fonts/Minecraft.ttf") format("tff");
}

/* Landing Page styling */
#landing-page {
    background: url(../imgs/dirt-block.png);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

/* Removed for now to add later */
/* .panorama {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.panorama-img {
    height: 100%;
    width: 100%;
}

.pano-img1 {
    position: inherit;
    z-index: -1;
    left: 0;
    animation: panoMove1 20s linear infinite;
}

.pano-img2 {
    position: inherit;
    z-index: -1;
    left: -100vw;
    animation: panoMove2 20s linear infinite;
}

.pano-img3 {
    position: inherit;
    z-index: -1;
    left: -100vw;
    animation: panoMove3 20s linear infinite;
    animation-delay: 10s;
}

.pano-img4 {
    position: inherit;
    z-index: -1;
    left: -100vw;
    animation: panoMove4 20s linear infinite;
    animation-delay: 20s;
} */

.logo {
    height: 20%;
}

.start-btn {
    padding: 1rem;
    font-family: "Minecraft";
    font-size: 3rem;
    cursor: pointer;
}

/* Game Styling */
#game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.play-screen {
    height: 90vh;
    background-color: skyblue;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.cloud {
    background: white;
}

.dirt {
    background: url(../imgs/dirt-block.png) center center / cover no-repeat;
}

.grass {
    background: url(../imgs/grass-block.png) center center / cover no-repeat;
}

.log {
    background: url(../imgs/oak-log-block.png) center center / cover no-repeat;
}

.stone {
    background: url(../imgs/stone-block.png) center center / cover no-repeat;
}

.leaves {
    background: url(../imgs/leaves-block.png) center center / cover no-repeat;
}

/* Inventory Styling */
.inventory {
    display: flex;
    justify-content: flex-start;
}

.inventory .slot {
    height: 10vh;
    width: 10vmin;
    background: url("../imgs/inventory-slot.png") center center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inventory .slot img {
    height: 70%;
    width: 70%;
}

.inventory .slot.selected {
    background: url("../imgs/inventory-select.png") center center / cover no-repeat;
    height: 10vh;
    width: 10vmin;
}

.inventory .slot1::before {
    content: "";
    background: url("../imgs/pickaxe.png") center center / cover no-repeat;
    height: 70%;
    width: 70%;
}

.inventory .slot2::before {
    content: "";
    background: url("../imgs/axe.png") center center / cover no-repeat;
    height: 70%;
    width: 70%;
}

.inventory .slot3::before {
    content: "";
    background: url("../imgs/shovel.png") center center / cover no-repeat;
    height: 70%;
    width: 70%;
}
